<h1>Welcome to Connect Four Game</h1>
<p>Choose your player: </p>


<div style="width:200px;">
	<div style="float:left;">
		<%= link_to "First user", "users/first" %>
	</div>
	<div style="float:right;">
		<%= link_to "Second user", "users/second" %>
	</div>
</div>